<div>
    <h1>Sobre</h1>

    <div class="main_container">

        <div class="photo_area">
            <img class="github_photo" src="https://avatars.githubusercontent.com/u/23319453?v=4" alt="Foto do GitHub">
        </div>

        <div>
            <p class="resume">
                Sempre tive paixão por computadores e sonhava em trabalhar na área.
                <br>
                <br>
                Formada em Ciência da Computação na Universidade Paulista (UNIP) em 2017, me apeguei ao lado "que o
                cliente
                vê primeiro" e segui carreira Front-end. Desde então, venho focando em continuar aprendendo a fim de
                melhorar minhas habilidades e seguir firme e confiante na carreira.
                <br>
                <br>
                Sou Desenvolvedora Front-end com experiência comprovada há quase 2 anos, topo desafios para
                sair da 'mesmice' e aprender algo novo, principalmente ter aquela satisfação de missão cumprida; 'eu
                ajudei
                a construir algo'.
                <br>
                <br>
                No tempo livre, às vezes jogo no computador, assisto gameplays, filmes e séries.
            </p>
        </div>
    </div>
</div>