@import ../../../styles


.photo_area
    display: flex
    padding-bottom: 5rem
    justify-content: center

.github_photo
    height: 20vh
    border-radius: 50%

.resume
    font-size: 1rem
    color: $secondary
