<div class="about_container">

    <h1>Sobre</h1>

    <div class="photo_area">
        <img class="github_photo" src="https://avatars.githubusercontent.com/u/23319453?v=4" alt="Foto do GitHub">
    </div>

    <div>
        <p class="resume">
            Sempre tive paixão por computadores e sonhava em trabalhar na área.
            <br>
            Formada em Ciência da Computação na Universidade Paulista (UNIP) em 2017, me apeguei ao lado "que o cliente
            vê primeiro" e segui carreira Front-end. Desde então, venho focada no aprendizado constante e no
            crescimento de carreira.
            <br>
            Sou Desenvolvedora Front-end com experiência comprovada há 1 ano e meio, topo desafios para sair da
            "mesmice" e sentir aquela satisfação de missão cumprida, além, claro, de aprender algo novo.
            <br>
            No tempo livre, às vezes jogo no computador, assisto filmes e séries de ação, aventura e fantasia.
        </p>
    </div>

</div>