<div class="menu_bar">
    <ul>
        <li>
            <a href="/" class="sections_navigation">
                Home
            </a>
        </li>
    </ul>

    <ul>
        <li>
            <a href="#about" class="sections_navigation">
                Sobre
            </a>
        </li>
    </ul>

    <ul>
        <li>
            <a href="#main-languages" class="sections_navigation">
                Linguagens
            </a>
        </li>
    </ul>

    <ul>
        <li>
            <a href="#projects" class="sections_navigation">
                Projetos
            </a>
        </li>
    </ul>

    <ul>
        <li>
            <a href="#experiences" class="sections_navigation">
                Experiências
            </a>
        </li>
    </ul>
</div>