<div>
    <h1>Experiências</h1>

    <div class="main_container">
        <div class="experiences">

            <a href="https://www.softvision.com.br/" target="_blank" rel="noopener noreferrer">
                <h2 class="company_presentation">
                    SoftVision
                </h2>
            </a>

            <h3>Desenvolvedora Front end Jr</h3>

            <h4>Nov 2021 - Out 2022</h4>

            <blockquote class="blockquote">
                Fábrica de software jovem com mentalidade inovadora. Especializada no desenvolvimento de software para
                diversos segmentos e também em consultoria em gestão da inovação.
            </blockquote>

            <p class="job_description">
                Desenvolvimento nos aplicativos de serviço de táxi para Taxistas (React Native) e Passageiros (Expo);
                Construir e modificar funcionalidades com JavaScript e TypeScript; Consumir API com Fetch e Axios
                (Restfull); Estilização com StyleSheet (app do Taxista) e Styled Components (app do Passageiro);
                Manipular branchs das features no sistema de versionamento Git/Azure DevOps; Kanban e SCRUM.
            </p>

            <br>

            <p class="skills">
                <span>
                    COMPETÊNCIAS
                </span>
                <br> Desenvolvimento de front-end · React Native · StyleSheet · Styled-components · API REST ·
                JavaScript · TypeScript · JSON · Linux/Fedora · Scrum · Kanban · Expo
            </p>

        </div>

    </div>
</div>