@import ../../constants/Colors


.featured-main-container
    display: flex
    justify-content: center


@media screen and (min-width: 992px)
    .featured-main-container
        display: flex
        margin-bottom: 8rem
