<div class="background_layer">
    <div class="container_profile">

        <div class="profile_area">
            <h1>JAQUELINE SILVA BROCCOLO</h1>
            <h2>Desenvolvedora Front-end</h2>
        </div>

        <div class="social_media_icons">
            <a href="https://github.com/JaqueBRSilva" target="_blank" rel="noopener noreferrer">
                <img class="socials" src="https://i.ibb.co/t3x3BFY/github-96.png" alt="github" />
            </a>

            <a href="https://www.linkedin.com/in/jaqueline-silva-broccolo/" target="_blank" rel="noopener noreferrer">
                <img class="socials" src="https://i.ibb.co/JmkWkwK/linkedin-96.png" alt="linkedin" />
            </a>

            <a href="mailto:j.silvabroccolo@gmail.com" target="_blank">
                <img class="socials" src="https://i.ibb.co/DWpTftZ/email-96.png" alt="e-mail" />
            </a>

            <a href="https://bio.link/jaquebrsilva" target="_blank">
                <img class="socials" src="https://i.ibb.co/QP2VGxx/link-96.png" alt="bio.link" />
            </a>

            <a href="https://drive.google.com/uc?id=1f-M1jWZnygiDvMhnElIhPGT2Uhf8Oi7a&export=download" target="_blank" >
                <img class="socials" src="https://i.ibb.co/W5mqKz9/download-resume-96.png" alt="download de currículo" />
            </a>
        </div>

    </div>
</div>