/* You can add global styles to this file, and also import other style files */

$primary: #FF6B6B
$secondary: #00FFFF
$text: #FFF
$background: #1A1A1A


*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Raleway', sans-serif

a
    text-decoration: none

h1
    padding-bottom: 2rem
    font-size: 2rem
    color: $primary
    text-transform: uppercase

section:nth-child(n + 3)
    background-color: $background
    padding: 3rem
