<div>
    <h1>Linguagens</h1>

    <div class="main_container">

        <div class="area_github_stats">
            <img class="stats_boards"
                src='https://github-readme-stats.vercel.app/api/top-langs/?username=JaqueBRSilva&theme={{ githubStatusTheme }}&locale={{ interfaceLanguage }}&hide_border=true&include_all_commits=true&count_private=true&layout=compact'
                alt="jaquebrsilva" />

            <img class="stats_boards"
                src='https://github-readme-stats.vercel.app/api?username=JaqueBRSilva&show_icons=true&theme={{ githubStatusTheme }}&locale={{ interfaceLanguage }}&hide_border=true&include_all_commits=true&count_private=true'
                alt="jaquebrsilva" />
        </div>

        <div class="languages_list">

            <span class="language_name">
                <img src="https://i.ibb.co/KjF1RFz/react-logo.png" class="lang_icons" alt="Logo React">
                React
            </span>

            <span class="language_name">
                <img src="https://i.ibb.co/1MfLZLR/react-native-logo.png" class="lang_icons" alt="Logo React Native">
                React Native
            </span>

            <!-- <span class="language_name">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/redux/redux-original.svg" class="lang_icons" alt="Logo Redux">
                Redux
                </span> -->

            <span class="language_name">
                <img src="https://profilinator.rishav.dev/skills-assets/nextjs.png" class="lang_icons"
                    alt="Logo NextJS">
                NextJS
            </span>

            <span class="language_name">
                <img src="https://i.ibb.co/55BNbZV/angular-logo.png" class="lang_icons" alt="Logo Angular">
                Angular
            </span>

            <span class="language_name">
                <img src="https://i.ibb.co/ssMkj0V/javascript-logo.png" class="lang_icons" alt="Logo JavaScript">
                JavaScript
            </span>

            <span class="language_name">
                <img src="https://i.ibb.co/3mbXfCM/typescript-logo.png" class="lang_icons" alt="Logo TypeScript">
                TypeScript
            </span>

            <span class="language_name">
                <img src="https://i.ibb.co/GnY7szq/node-js-logo.png" class="lang_icons" alt="Logo NodeJS">
                Node.js
            </span>

            <span class="language_name">
                <img src="https://i.ibb.co/nBLZs8m/html5-logo.png" alt="Logo HTML5" class="lang_icons">
                HTML
            </span>

            <span class="language_name">
                <img src="https://i.ibb.co/4dmLrwf/css3-logo.png" alt="Logo CSS3" class="lang_icons">
                CSS / StyleSheet
            </span>

            <span class="language_name">
                <img src="https://profilinator.rishav.dev/skills-assets/styled-components.png"
                    alt="Logo Styled-Components" class="lang_icons">
                Styled Components
            </span>

            <span class="language_name">
                <img src="https://i.ibb.co/tbYvps4/sass-logo.png" alt="Logo Sass" class="lang_icons">
                Sass
            </span>

        </div>

    </div>
</div>