<header>
    <app-top-menu></app-top-menu>
</header>

<section class="section-area" id="top">
    <app-presentation></app-presentation>
</section>

<section class="section-area" id="about">
    <app-about></app-about>
</section>

<section class="section-area" id="main-languages">
    <app-github-status></app-github-status>
</section>

<section class="section-area" id="experiences">
    <app-experience></app-experience>
</section>

<section class="section-area" id="projects">
    <app-projects></app-projects>
</section>

<footer>
</footer>